<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/theme.css">
<script src="/static/theme.js" defer></script>

<title>Employee Management System</title>

</head>

<body>

<div class="card">

<h1>Employee Management System</h1>

<p>Select an option</p>

<a href="/register" class="btn register">Register</a>

<a href="/login" class="btn login">Login</a>

<button id="themeBtn" class="theme-btn" onclick="toggleTheme()">
        🌙 dark
</button>

</div>

</body>
</html>