<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <link rel="stylesheet" href="/static/theme.css">
   <script src="/static/theme.js" defer></script>
   
    <title>Employee Management System</title>

</head>

<body>

    <nav class="navbar">

        <!-- ONLY ONE LOGO -->
        <div class="logo">
            Employee Management System
        </div>

        <ul class="nav-links">

            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/employees">Employees</a>
            </li>

            <li>
                <a href="/add-employee">Add Employee</a>
            </li>

            <li>
                <a href="/login" class="login-btn">Login</a>
            </li>

            <li>
                <a href="/register" class="register-btn">Register</a>
            </li>
            
            <li>
               <button id="themeBtn"
                       class="theme-btn"
                       onclick="toggleTheme()">
                    🌙 DARK
            </button>
           </li>

        </ul>

    </nav>


    <div class="content">

        <h1>Welcome to Employee Management System</h1>

        <p>Manage your employees easily.</p>

    </div>

</body>

</html>